// Kolory
$color-primary: null;
$color-secondary: null;

// Rodziny fontów
$font-primary: null;

// Grubość czcionki
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Wysokość linii paragrafów
$lineHeight: 24px;

// Cookies
$cookiesColor: #FFFFFF;
$cookiesBackgroundColor: #1D1D1B;
$cookiesBorderColor: $color-primary;

