html, body {
    height: 100%;
}

body {
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    color: #000;
}

.site {
    // max-width: 1920px;
    // margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

p {
    line-height: $lineHeight;
    display: block;
    width: 100%;
}

iframe {
    display: block;
}

button:focus {
    outline: none;
}

.size-post-thumbnail {
    width: 100%;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
