.button, .wpcf7-submit {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    transition: 200ms ease;
    
    &.is-block {
        width: 100%;
    }

    &.is-block-md {
        @include md-down {
            width: 100%;
        }
    }
    
}

button {
    background-color: unset;
    cursor: pointer;
}