strong, b {
    font-weight: bold;
}

.inner-content {
    h1,h2,h3,h4 {
        font-weight: bold;
        margin-bottom: 2rem;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    ol, ul {
        margin-left: 1rem;
        margin-bottom: 1rem;

        li {
            line-height: 30px;
        }
    }
    ol {
        list-style: decimal;
    }

    ul {
        list-style: initial;
    }

    ol,ul {
        &:last-child {
            margin-bottom: 0;
        }
    }
}