#cookies-container{
    max-width: 200px;
    font-size: 12px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 120;
    background-color: $cookiesBackgroundColor;
    padding: 20px 10px;
    background-image: url('../img/img-cookie.png');
    background-repeat: no-repeat;
    background-position: center right;
    border: 1px solid $cookiesBorderColor;
    border-right: 0;
    border-bottom: 0;
    line-height: 120%;
    color: $cookiesColor;
    transform: translateX(105%);
    transition: all 0.3s linear;
  
    &.cookies-hidden{
      transform: translateX(0%);
    }
  
    .cookies-title{
      margin: 0 0 10px;
      font-size: 13px;
    }
  
    .cookies-content{
      max-width: 140px;
      margin-right: 30px;
    }
  }
  
  #cookies-close{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $cookiesBorderColor;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-30%,-30%);
    .fa{
      margin-right: 0;
    }
  }