input, textarea {
    &:focus {
        border: 1px solid $color-primary;
        outline: none;
    }
}

.wpcf7-form {
    label, input, textarea {
        width: 100%;
        font-size: 12px;
    }
    input, textarea {
        padding: .2rem .5rem;
        &:not(.wpcf7-not-valid) {
            border: 0;
        }
    }
    input[type="checkbox"] {
        width: auto;
    }
    input[type="submit"] {
        line-height: unset;
        border: 0;
    }
    span {
        text-align: left;
    }

    .wpcf7-response-output {
        margin-left: 0;
        margin-right: 0;
    }
    .wpcf7-validation-errors {
        background-color: #FF8B00;
        color: #fff;
        border: 0;
    }

}

.wpcf7-not-valid {
    border: 1px solid #e40202;
}

span.wpcf7-not-valid-tip {
    color: #e40202;
}

.wpcf7-acceptance {
    .wpcf7-list-item {
        display: block;
        label {
            div {
                background-color: rgba(#000, .8);
                color: #fff;
                top: -10px;
                left: -15px;
                opacity: 0;
                z-index: -1;
                position: absolute;
                width: calc(100% + 30px);
                padding: 15px;
                transform: translate(0, -100%);
                transition: all 0.5s ease;
                p {
                    color: #fff !important;
                    margin: 0;
                    font-size: 12px !important;
                    line-height: 18px !important;
                }
            }
            &>span>a {
                cursor: pointer;
                text-decoration: underline;
                &:before {
                    display: none;
                }
                &:hover {
                    color: #000;
                }
                &:focus {
                    &~div {
                        opacity: 1;
                        z-index: 20;
                    }
                }
            }
        }
    }
}
.wpcf7-acceptance {
    span {
        margin: 0;
        width: 100%;
        text-align: left;
        label {
            display: flex;
            align-items: center;
            position: relative;
            input {
                width: auto;
                margin-right: 5px;
            }
            span {
                font-size: 12px;
                line-height: 16px;
                font-weight: 300;
            }
        }
    }
}  // END