.gallery.gallery {
	display: flex;
	flex-flow: row wrap;

	& > * { min-width: 0; }  //Firefox Bug?!
}

.gallery-item.gallery-item {
	margin-bottom: 5px;
	margin-bottom: 30px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid rgba($color: #000000, $alpha: 0.5);
	transition: all 200ms;
	position: relative;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0.5;
			transition: .3s ease;
			background-color: rgba($color-primary, 0.8);
		}
		&:hover:after {
			content: '\f002';
			position: absolute;
			font-family: 'Font Awesome 5 Free';
			font-weight: 600;
			color: #fff;
			font-size: 20px;
		}
	}

	.widget-area & {
		margin-bottom: 5px;
	}

	&:hover {
		border-color: rgba($color-primary, 0.8);
	}
}

.gallery-icon img {
	margin: 0 auto;
	display: block;
}