#social_links{
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(0,-50%);
    #facebookSidebar {
      background-color: #4b74ca;
    }
    #instagramSidebar{
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    #linkedinSidebar{
      background-color: #007bb6;
    }
    #youtubeSidebar{
      background-color: #FF3333;
    }
    #googleplusSidebar{
      background-color: #C63D2D;
    }
    #twitterSidebar{
      background-color: #00ACED;
    }
    #facebookSidebar, #instagramSidebar, #linkedinSidebar, #youtubeSidebar, #googleplusSidebar, #twitterSidebar{
      width: 48px;
      height: 48px;
      transform: translate(100%,0);
      font-size: 24px;
      color: #fff;
      // transition: all 0.5s ease;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      &.open{
        transform: translate(0%,0) !important;
      }
      &:hover{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 65px;
      }
    }
  }
  #social_links a.open:nth-child(1){
    transition: transform 0.2s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
    text-decoration: none;
  }
  #social_links a.open:nth-child(2){
    transition: transform 0.4s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
  }
  #social_links a.open:nth-child(3){
    transition: transform 0.6s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
  }
  #social_links a.open:nth-child(4){
    transition: transform 0.8s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
  }
  #social_links a.open:nth-child(5){
    transition: transform 1s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
  }
  #social_links a.open:nth-child(6){
    transition: transform 1.2s 0.7s ease, width 0.5s ease, border-top-left-radius 0.5s ease, border-bottom-left-radius 0.5s ease;
  }