$amounts: (0, 0), (1, 10), (2, 20), (3, 30), (4, 40), (5, 50);
$amounts2: (0, 0), (1, 10), (2, 20), (3, 30), (4, 40);
$sides: (top, bottom, left, right);

@each $count, $space in $amounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$count} {
      margin-#{$side}: #{$space}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$count} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


@each $count, $space in $amounts2 {
  .mx-#{$count} {
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }
  .px-#{$count} {
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }
  .my-#{$count} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }
  .py-#{$count} {
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }
}

@for $i from 0 through 3 {
  .m-#{$i} {
    margin: $i * 10px !important;
	}
	.p-#{$i} {
    padding: $i * 10px !important;
	}
}

@include md-down {
  @each $count, $space in $amounts {
    @each $side in $sides {
      .m#{str-slice($side, 0, 1)}-#{$count}-m {
        margin-#{$side}: #{$space}px !important;
      }
      .p#{str-slice($side, 0, 1)}-#{$count}-m {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
  @for $i from 0 through 3 {
    .m-#{$i}-m {
      margin: $i * 10px !important;
    }
    .p-#{$i}-m {
      padding: $i * 10px !important;
    }
  }
  @each $count, $space in $amounts2 {
    .mx-#{$count}-m {
      margin-left: #{$space}px !important;
      margin-right: #{$space}px !important;
    }
    .px-#{$count}-m {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }
    .my-#{$count}-m {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }
    .py-#{$count}-m {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }
  }
}