.tabs {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    padding-bottom: 10px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
}
.tabs a {
    width: 18%;
    display: inline-block;
    height: 3em;
    background: #eee;
    font-size: 1em;
    font-weight: bold;
    line-height: 3em;
    text-decoration: none;
    color: #333;
    text-align: center;
    @include md-down {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        white-space: nowrap;
    }
}
.tabs a.active {
    background: $color-primary;
    color:#fff;
}


.tabs-container.js .tab-content {
    display: none;
    padding:1em;
    font-size:2em;
    border: 1px solid #d6d6d6;
    border-radius:2px;
}
.tabs-container.js .tab-content.active {
    display: block;
}