// Fonty

.fs-1 {
    font-size: 10px;
}

.fs-2 {
    font-size: 12px;
}

.fs-3 {
    font-size: 14px;
}

.fs-4 {
    font-size: 16px;
}

.fs-5 {
    font-size: 18px;
}

.f-primary {
    font-family: $font-primary;
}

.fc-primary {
    color: $color-primary;
}

.fc-white {
    color: #fff;
}